# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.excelToCj.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\work0\excelToCj\.idea\.idea.excelToCj.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
